.hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */

    transition: all 2s;

  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
  }
  
  @media (prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }

section {
  
  height: 100vh;
  scroll-snap-align: start;
  justify-content: center mandatory !important ; 
  justify-self: center mandatory !important;
  
}
  
.portfolio {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.ab-me {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
 
}