body {
    margin: 0;
    /* Reset default margin */
    overflow-x: hidden;
    overflow: hidden;
    /* Prevent horizontal scrolling */
}

.app {
    max-width: 100%;
    /* Ensure app takes full width of viewport */
    margin: 0 auto;
    /* Center the app horizontally */
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Full height of the viewport */
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-right: 50px;
    margin-top: 150px !important;
    margin: 0 auto;

    /* Center the container horizontally */
}

.image {
    width: 450px;
    height: 450px;
    margin-top: -5px;
    justify-content: center;
    transition: opacity 0.4s, width 0.4s, height 0.4s;
}

.right {
    justify-content: center;
    margin-right: 20px;
    font-size: 50px;
    text-align: left;
    padding: 10px;
    flex-direction: column;
    /* Display children in a column */
    align-items: center;
    transition: all 0.3s;
}

.p {
    white-space: nowrap;
   
}

.description {
    margin-top: 0px;
    /* Remove !important and adjust as necessary */
    font-size: 30px;
}

.cv-btn {
   
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s;
}

.cv-btn:hover {
    opacity: 0.6;
}

.contact-btn {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s;
}

.contact-btn:hover {
    opacity: 0.6;
}

.gh {
    width: 3.8vw;
    /* Adjust size as needed */
    margin-top: 20px;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.4s;
    /* Provide space between buttons and image */
}
.gh:hover {
    opacity: 0.8;
}
@media(max-width:1085px) {
    .right {
        justify-content: center;
        margin-right: 20px;
        font-size: 40px;
        text-align: left;
        padding: 10px;
        flex-direction: column;
        /* Display children in a column */
        align-items: center;
        transition: all 0.3s;
    }
    .image {
        width: 400px;
        height: 400px;
        margin-top: -5px;
        justify-content: center;
        transition: opacity 0.4s, width 0.4s, height 0.4s;
    }
    
}
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center !important;
        padding-right: 0px;
        align-self: center !important;
    }

    .image {
        width: 45vw;
        /* Adjusted size for smaller screens */
        height: 45vw;
        align-self: center;
        /* Align the image itself to the center */
        margin-bottom: -10px;
        /* Optional: Add margin at the bottom for spacing */
    }

    .right {
        width: 100%;
        text-align: center;
        margin-top: -10px;
        font-size: 4vw;
    }

    .description {
        margin-top: -10px;
        /* Remove !important and adjust as necessary */
        font-size: 3vw;
    }

    .cv-btn {
        margin: 10px;
        padding: 10px;
        font-size: 2.5vw;
        border-radius: 20px;
        background-color: #D9D9D9;
        color: black;
        border: none;
        cursor: pointer;
        transition: opacity 0.4s;
    }
    .contact-btn {
        margin: 10px;
        padding: 10px;
        font-size: 2.5vw;
        border-radius: 20px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        transition: opacity 0.4s;
    }
    .gh {
        width: 7vw;
        /* Adjust size as needed */
        margin-top: 20px;
        padding: 10px;
        opacity: 1;
        /* Provide space between buttons and image */
    }
    .gh:hover {
        opacity: 0.8;
    }
}
@media (max-width: 650px) {
    .container {
        flex-direction: column;
        align-items: center !important;
        padding-right: 0px;
        align-self: center !important;
    }

    .image {
        width: 50vw;
        /* Adjusted size for smaller screens */
        height: 50vw;
        align-self: center;
        /* Align the image itself to the center */
        margin-bottom: -10px;
        /* Optional: Add margin at the bottom for spacing */
    }

    .right {
        width: 100%;
        text-align: center;
        margin-top: -10px;
        font-size: 5vw;
    }

    .description {
        margin-top: -10px;
        /* Remove !important and adjust as necessary */
        font-size: 4vw;
    }

    .cv-btn {
        margin: 10px;
        padding: 10px;
        font-size: 3.5vw;
        border-radius: 20px;
        background-color: #D9D9D9;
        color: black;
        border: none;
        cursor: pointer;
        transition: opacity 0.4s;
    }
    .contact-btn {
        margin: 10px;
        padding: 10px;
        font-size: 3.5vw;
        border-radius: 20px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        transition: opacity 0.4s;
    }
    .gh {
        width: 8vw;
        /* Adjust size as needed */
        margin-top: 20px;
        padding: 10px;
        opacity: 1;
        /* Provide space between buttons and image */
    }
    .gh:hover {
        opacity: 0.8;
    }
}
.scroll-down {
    position: absolute;
    bottom: 100px;
    font-size: 18px;
    display: flex;
    align-items: right;
}