.height {
        height: 100vh !important;
        display: flex;
        max-width: 1200px;
        flex-direction: column;
        margin: 0 auto;
}



.skills-container {
        max-width: 1200px !important;
        align-items: center !important;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        margin: 0 auto;
        padding: 5px;
        vertical-align: middle !important;
}
.title-sk{
        margin-top: 100px !important;
}
.imagen{
        width: 40px;
}
.lang-grid{
        display: flex;
        justify-content: space-between;
}

.columns-skills{
        
        padding: 40px;
}