/* .ab-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-right: 50px;
  margin-top: 0px !important;
  margin: auto;
  min-height: 500vh;
  
}
.centered{
  
  align-items: center;
  justify-content: center mandatory !important ; 
  justify-self: center mandatory !important;
  height: 100vh;
  
}
.left-ab {

  margin-right: 100px;
  margin-left: 0px;

  text-align: left;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.title-left {
  font-size: 50px;
}

.p-left {
  font-size: 20px;
  text-align: justify;
  line-height: 2;
}

.p {
  white-space: nowrap;
  margin-bottom: 10px;
}

.right-ab {

  margin-right: 10px;
  margin-left: 10px;
  margin-top: 170px;
  font-size: 40px;
  text-wrap: nowrap;
  text-align: left;
  flex-direction: column;
  transition: all 0.3s;
}

.education-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.timeline {
  margin: 0px auto;
  width: 360px;
  border-left: 1.5px solid #ccc;
  padding: 31px 0px 0 31px;

}

.timeline-item {
  background-color: #fff;
  padding: 0px 20px;
  font-size: 20px !important;
  line-height: 1.7;
  position: relative;
  height: 80px;
  margin-bottom: 20px;
}

.timeline-item:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}



.scroll-down {
  position: absolute;
  bottom: 100px;
  right: 100px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

@media(max-width: 1330px) {
  .centered {
    
    align-items: center !important;
    padding-right: 0px;
    margin: 100px;
    align-self: center !important;
  }
  .left-ab {
    margin-top: 200px;
    margin-right: 50px;
  }
  .right-ab {
    margin-left: -30px;
    margin-top: 100px;
    margin-top: 300px;
  }

  
} */


.centered{
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.ab-container {
  height: 100vh;
  display: flex;
  margin-left: 30px;
  max-width: 1200px;

 

  justify-content: center !important;
  align-items: center !important;
  vertical-align: middle !important;

  /* Center the container horizontally */
}

.left-ab {

  text-align: justify;
  
  transition: opacity 0.4s, width 0.4s, height 0.4s;

  padding: 0 auto;
  margin-right: 10px;
  font-size: 1.7vw;
}
.title-left {
  font-size: 45px;
}
.right-ab {
  margin-top: 10vh;
  justify-content: center;

  font-size: 2vw;
  text-align: left;
  padding: 10px;
  flex-direction: column;
  margin-left: 20px;
  /* Display children in a column */
  align-items: center;
  transition: all 0.3s;
}


.education-title {
  font-size: 2vw;
  margin-bottom: 20px;
}

.timeline {

  width: 360px;
  border-left: 1.5px solid #ccc;
  padding: 10px 0px 0 31px;

}

.timeline-item {
  background-color: #fff;
  padding: 0px 0px;
  font-size: 1.5vw !important;
  line-height: 1.7;
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  
}

.timeline-item:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  border: 3px solid #ddd;
  position: absolute;
  top: 10px;
  left: -40px;
}



.scroll-down {
  position: absolute;
  bottom: 100px;
  right: 100px;
  font-size: 18px;
  display: flex;
  align-items: center;
}



@media(max-width:820px) {
  .ab-container {
    flex-direction: column;
    align-items: center !important;
    padding-right: 0px;
    align-self: center !important;
}
.right-ab{
  margin-top: 15px;
  justify-self: left !important;
  transition: all 0.3s;
  font-size: 2.3vw !important;

}
.left-ab{

  padding-right: 10px;

}
.timeline-item{
  font-size: 2vw !important;
}

}

@media (max-width: 900px) {
 


}

@media (max-width: 650px) {

}

