.ab-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-right: 50px;
    margin-top: 400px !important;
    margin: 0 auto;
    min-height: 500vh;
}

.left-ab{
    justify-content: center;
    margin-right: 100px;
    margin-left: 30px;
    text-align: left;
    padding: 10px;
    flex-direction: column;
    /* Display children in a column */
    align-items: center;
    transition: all 0.3s;

}
.title-left {
    font-size: 50px;
}
.p-left{
    font-size: 20px;
    text-align: justify;
    line-height: 2;

}
.p {
    white-space: nowrap;
    margin-bottom: 10px;
}

.right-ab{
    margin-top: 100px !important;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 40px;
    text-align: left;
    flex-direction: column;
   
    transition: all 0.3s;
}
.scroll-down {
    position: absolute;
    bottom: 100px;
    right: 100px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

