.height-pro {
    height: 90vh !important;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center !important;
    justify-content: center;
}

.pro-container {
    max-width: 1200px !important;
    align-items: center !important;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    padding: 5px;
}

.title-pro {
    margin-top: 100px !important;
   text-align: center;
   font-size: 40px;
}

.card-container{
    position: relative;
    width: 250px;
    height: 250px;
    background: none;
  
    padding: 10px;
    
  
  }

  .card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .card:hover{
    transform: rotateY(180deg);
  }
  
   .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #252522;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #dddbdb;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
 
  .front h1, .back h1{
    font-family: 'zilla slab', sans-serif;
    padding: 0 15px 0 15px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
  }
  
  .info{
    font-family: 'zilla slab', sans-serif;
    padding: 0 15px 0 15px;
    font-weight: normal;
    font-size: 12px;
    text-align: justify;
  }


  .img-links{
    width: 20px;
    padding: 0 5px 0 5px;
  }

  .titles{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    border: 0px;
  }
  .info-pro{
    padding: 0 15px 0 15px;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
  }