.height {
    height: 100vh !important;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    margin: 0 auto;
}



.skills-container {
    max-width: 1200px !important;
    align-items: center !important;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    padding: 5px;
    vertical-align: middle !important;
}
.title-sk{
    margin-top: 100px !important;
}
.imagen{
    width: 40px;
}
.lang-grid{
    display: flex;
    justify-content: space-between;
}

.columns-skills{
    
    padding: 40px;
}
.card-content{
    width: 150px;
    height: 200px;

    position: relative;
}

.card{
    height: 100px;
    width: 200px;
    position: absolute;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    background: yellow;
}

.card:hover{
    transform: rotateY(180deg)
}
.front{
    background: #827e69;
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;

}

.back {
    background: #6b6131;
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #c05252;
    transform: rotateY(180deg);
}